
/*Reseteo general*/

*
{
    margin: 0;
    padding: 0;
    color: inherit;
    text-decoration: none;
    list-style: none;
    line-height: normal;
    box-sizing: border-box;
}

html{
    font-size: 10px;
    /*1 rem = 10px*/
}



/*Tipografias*/

@font-face {
    font-family: "HelveticaNow";
    src: url(../fonts/HelveticaNowText-Bold.ttf);
}
@font-face {
    font-family: "Helveticatexto";
    src: url(../fonts/HelveticaNowText-Regular.ttf);
}

/* Inicio sección header */

header{
    width: 100%;
    background-color: white;
    color: #03071e;
    position: sticky;
    z-index: 10;
    top: 0;
    left: 0;
    font-family: "HelveticaNow";
}

.grid__container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    gap: 0;
    
    /*GRID AREA*/

    grid-template-areas:
        "header header header"
        "main main main"
        "footer footer footer";
}

.grid__header{
    grid-area: header;
}
    


/*Header Superior*/
.header__superior{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.logo img{
    width: 30.5rem;
    padding-top: 10px;
    padding-left: 10rem;
}

.search input{
    width: 600px;
    padding: 10px;
    vertical-align: middle;
}

.buttons{
    display: flex;
    justify-content: end;
    padding-top: 5px;
    padding-right: 10rem;
    align-items: center;
}
.button__log{
    padding: 20px;
    border: none;
    background: #03071e;
    color: white;
    border-radius: 15%;
    font-size: 15px;
    cursor: pointer;
}
.button__log:hover{
    background: #00eeff;
    transform: scale(1.1);
}
.button__dos{
    vertical-align: middle;
    padding: 1rem;
}


/*Barra de navegación*/

.container__menu{
    width: 100%;
    height: 70px;
    background-color: #03071e;
    padding: 0 40px;
}

.menu {
    margin: auto;
    height: 100%;
}
nav > ul{
    height: 100%;
    display: flex;
    justify-content: space-around;
}
nav > ul > li{
    height: 100%;
    position: relative;  
}
nav > ul > li > a{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    color: white;
    padding: 20px;
    font-size: 16px;
}
nav > ul > li > a:hover{
    transform: scale(1.1);
    background: #219ebc;
}

/*Submenu*/

nav ul li ul{
    width: 200px;
    background-color: white;
    position: absolute;
    top: 90px;
    left: -5px;
    padding: 10px 0px;
    visibility: hidden;
    opacity: 0;
    box-shadow: 0px, 0px, 10px, 0px rgba(0,0,0,5);
    z-index: 10;
    transition: all 350ms ease;

}

nav ul li:hover ul{
    visibility: visible;
    background-color: rgb(213, 252, 255);
    opacity: 1;
    top: 70px;
}
nav ul li ul li a{
    display: block;
    color: #03071e;
    padding: 6px;
    padding-left: 1.5rem;
    margin-top: 1rem;
    text-align: left;
    font-size: 12px;
}

nav ul li ul li a:hover{
    background-color: #03071e;
    color: white;
    padding: 6px;
    transform: scale(1.1);
    padding-left: 30px;
    font-size: 14px;
    box-shadow: 0px, 0px, 10px, 0px rgba(0,0,0,5);
}
    
/*Contenido principal*/

main{
    width: 100%;
    margin-top: 0;
    background-color: white;
    color: #03071e;
    font-family: "HelveticaNow";
}
.grid__main{
    grid-area: main;

}

.hero{
    height: calc(100vh - 152.567px);

}
.slider{
    height: 100%;
    overflow: hidden;
}
.carrousel li{
    width: 100%;
    height: 100%;
}

.img__carrousel{
    border-radius: 2%;
    height: 100%;
    width: 100%;
}
.carrousel{
    display: flex;
    padding: 0;
    width: 300%;
    height: 100%;
    animation: carrousel 20s linear infinite alternate;
}

@keyframes carrousel{
    /* Primer Imagen */
    0%{ margin-left: 0;}
    30%{ margin-left: 0;}

    /* Segunda Imagen */
    35%{ margin-left: -100%;}
    65%{ margin-left: -100%;}

    /* Tercera Imagen */
    70%{ margin-left: -200%;}
    100%{ margin-left: -200%;}
}





/*TITULO*/
h2{
    text-align: center;
    font-size: 3.5rem;
    margin: 4rem;
    width: 100%;
}

/*CARDS*/

.main__cards{
    display: flex;   
}
.main__cards > div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


    .card{
    display: block;
    padding: 2rem;
    margin: 3rem;
    gap: 0;
    transition: all 350ms ease;
    background-color: white;
    border: 0.5px solid rgba(0,0,0,0.2);
    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.2), 0 5px 10px 0 rgba(0,0,0,0.21);
    border-radius: 5%;
    text-align: center;
    }
    .card__img{
        width: 300px;

    }
    .card__title{
        font-size: 2rem;
        margin-top: 2rem;
    }
    .card__description{
        font-size: 1.8rem;
        margin-bottom: 3rem;
    }
    .card__button{
        padding: 12px;
        margin-top: 10px;
        border: none;
        background: #0ea700;
        color: white;
        border-radius: 15%;
        font-size: 15px;
        cursor: pointer;
    }
    .card__productos{
        height: 48rem;
        line-height: 3rem;
    }

/*FOOTER*/

footer{
    width: 100%;
    height: 100%;
    margin-top: 4rem;
    background-color: #03071e;
    color: white;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-family: "HelveticaNow";
    font-size: 2rem;
    align-items: center;
    
}

.grid__footer{
    grid-area: footer;
}


.logo__footer{
    width: 30.5rem;
    padding-top: 10px;
    padding-left: 0;
    
}
    .logo__footer img{
        width: 30.5rem;
    }    

.footer__container{
    margin: auto;
    display: inline-block;
    width: 70%;
}

.footer__menu {
    margin: auto;
    height: 50%;
    display: flex;
    width: 100%;
    justify-content: space-around;
}

footer .footer__menu li a{
    width: 100%;
    display: flex;
    align-items: center;
    color: silver;
    padding: 20px;
    font-size: 20px;
}
footer .footer__menu li a:hover{
    transform: scale(1.1);
    color: white;
}

.redes{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 0;
}
.redes img{
    width: 30px;
    background-color: white;
    border-radius: 50%;
    padding: 5px;
    margin-left: 15px;
}
    .redes img:hover{
        background-color: #00eeff;
        transform: scale(1.12);
    }

/*MAIN NOSOTROS*/

.tittle{
    font-size: 40px;
    text-align: center;
    margin-bottom: 2rem;
}
.p__nosotros{
    max-width: 100%;
    margin: 2rem 10rem 2rem 10rem;
    padding-left: 10rem;
    padding-right: 10rem;
    font-family: "Helveticatexto";
    font-size: 20px;
}
.p__nosotros p{
    text-align: start;
    line-height: 3rem;
    padding-top: 2rem;
}

.grid__nosotros{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    gap: 15px;
    
    /*GRID AREA*/

    grid-template-areas:
        "header header header"
        "info info imagen"
        "footer footer footer";
}
    .grid__info{
        grid-area: info;
    }
    .grid__imagen{
        grid-area: imagen;
    }
    .grid__imagen img{
        width: 400px;
    padding: auto;
    margin: auto;
    border: 0.5px solid rgba(0,0,0,0.2);
    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.2), 0 5px 10px 0 rgba(0,0,0,0.21);
    border-radius: 5%;
    }



/*FORMULARIO CONTACTO*/

.form__container{
    background: linear-gradient(rgba(0, 0, 0, 0.377), rgba(0, 0, 0, 0.425)),   url(../multimedia/images/enviar.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
    border: 0.5px solid rgba(0,0,0,0.2);
    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.2), 0 5px 10px 0 rgba(0,0,0,0.21);
    border-radius: 5%;
    color: white;
}
.form__superior{
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.form__superior div{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    vertical-align: center;
}
.form__superior img{
    width: 400px;
    padding: auto;
    margin: auto;
    border: 0.5px solid rgba(0,0,0,0.2);
    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.2), 0 5px 10px 0 rgba(0,0,0,0.21);
    border-radius: 5%;
}
.form__datosdos{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    margin: 1rem 0;
}
    .form__datosdos label{
        font-size: 20px;
        margin-bottom: 2rem;
    }
    .form__datosdos input{
        font-size: 20px;
        height: 3rem;
        border: none;
        background: none;
        border-bottom: 2px  solid   #d1d1d1;
        outline: none;
        width: 400px;
        margin-bottom: 1rem;
    }
.form__inferior{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 5rem 30rem;
}
form label{
    font-size: 20px;
}
    .form__datosdos select{
        font-size: 20px;
        width: 300px;
        background-color: #03071e;
        color: white;
        padding: 10px;
        border: none;
        border-radius: 2%;
        
    }
    .form__datosdos textarea{
        font-size: 20px;
        width: 100%;
        min-width: 700px;
        height: 300px;
        outline: none;
        background-color: rgba(0, 0, 0, 0.726);
    }
    .form__datosdos button{
        cursor: pointer;
        font-size: 20px;
        width: 100px;
        background-color: #03071e;
        color: white;
        padding: 10px;
        border: none;
        border-radius: 2%;
        margin-top: 0%;
    }

/*MAIN TRABAJA CON NOSOTROS*/

.p__trabaja{
    max-width: 100%;
    margin: 2rem 10rem 2rem 10rem;
    padding-left: 10rem;
    padding-right: 10rem;
    font-family: "Helveticatexto";
    font-size: 20px;
}
  
.form__edad{
    display:flex;
    flex-direction: column;
    width: 100%;
    margin: 1rem 0;
    
}
.form__edad label{
    font-size: 20px;
    margin-bottom: 2rem;
}   
.form__edad input{
    font-size: 20px;
    height: 3rem;
    border: none;
    border-bottom: 1px  solid   #03071e;
    outline: none;
    width: 140px;
    background: none;
    border-bottom: 2px  solid   #d1d1d1;
}
.form__sexo{
    display: flex;
    flex-direction: column;
    width: 100%;
}
    .form__sexo p{
        font-size: 20px;
        margin-top: 2rem;
    }
    .form__sexo p input{
        width: 20px;

    }
.form__file{
        display: flex;
        flex-direction: column;
        width: 100%;
}

    .form__file input{
        font-size: 16px;
        width: 100px;
        color: white;
        padding: 10px;
        border: none;
        border-radius: 2%;
        margin-top: 0%;
    }

/* MAIN AYUDA */

.tittle__ayuda{
    font-size: 25px;
    text-align: center;
}

.p__ayuda{
    max-width: 100%;
    margin: auto;
    text-align: center;
    padding-left: 20rem;
    padding-right: 20rem;
    font-family: "Helveticatexto";
    font-size: 20px;
}

/* Responsive Mobile */

/*INDEX*/

@media screen and (max-width:450px) {
    .grid__container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: auto;
        gap: 15px;
    }
    .header__superior{
        justify-content: space-around;
    }
    .search{
        display: none;
    }
    .menu{
        display: none;
    }

    .container__menu{
        display: none;
    }
    .hero{
        display: none;
    }
    .main__cards > div h2{
        background-color: #03071e;
        color: white;
        margin: 0%;
        font-size: 30px;
        height: auto;
        text-align: center;
        padding: 5px;
    }
    .grid__footer{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 2fr, 1fr;
    }
    footer .logo img{
        width: 250px;
        padding: 10px;
        margin: 0;
    }
    footer ul{
        display: flex;
        flex-direction: column;
    }
    .redes{
        grid-column: span 2;
        justify-content: center;
    }
    .redes p{
        display: none;
    }

/*NOSOTROS*/

    .grid__nosotros{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
    }
    .grid__info{
        width: 100%;
    }
    .p__nosotros{
        width: 100%;
        text-align: left;
        margin: 0;
        padding: 10px;

    }
    .grid__imagen{
        align-content: center;
        width: 100%;
    }
    .grid__imagen img{
        width: 100%;
        margin: auto;

    }

}

/* Responsive Tablet */

/*Index*/

@media screen and (min-width:451px) and (max-width:960px) {
    .grid__container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: auto;
        gap: 15px;
        width: 100%;
        }
        
        .header__superior {
            justify-content: space-around;
        }
        
        .search {
            display: none;
        }
        .grid__footer{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: 2fr, 1fr;
        }
        footer .logo img{
            width: 250px;
            padding: 10px;
            margin: 0;
            align-items: center;
        }
        footer ul{
            display: flex;
            flex-direction: column;
        }
        .redes{
            grid-column: span 2;
            justify-content: center;
        }
        .redes p{
            display: none;
        }

/*NOSOTROS*/

    .grid__nosotros{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
    }
    .grid__info{
        width: 100%;
    }
    .p__nosotros{
        width: 95%;
        text-align: left;
        margin: 0;
        padding: 10px;

    }
    .grid__imagen{
        align-content: center;
        width: 100%;
    }
    .grid__imagen img{
        width: 95%;
        margin: auto;

    }
}

